/node_modules
/public/build
/public/hot
/public/uploads
/storage/installed
/storage/*.key
/storage/app
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
auth.json
/.idea
/.vscode
/public/storage
composer.lock
package-lock.json
/resources/lang/*
