/*===============================
#.latest-transaction-area
=================================*/
.latest-transaction-area {
    padding: 2.5rem;
    border-radius: 1.6rem;
    border: 1px solid #F0F0F0;
}